/* Estilos para el body */
body {
  background: #000;
  margin: 18px;
}

/* Estilos para la galería */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)); /* Ajusta el tamaño mínimo y máximo de las columnas */
  gap: 40px; /* Espacio entre las imágenes */
  justify-items: center; /* Centra horizontalmente las imágenes */
}

/* Estilos para las imágenes en la galería */
.gallery img {
  max-width: 100%; /* Limita el ancho máximo de la imagen al ancho del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  border-radius: 20px;
  transition: transform 0.2s, filter 0.2s; /* Agrega transición al efecto de escalado y opacidad */
}

.gallery img:hover {
  transform: scale(1.05); /* Aumenta ligeramente el tamaño de la imagen al pasar el ratón por encima */
  filter: brightness(90%); /* Reduce ligeramente el brillo de la imagen al pasar el ratón por encima */
}


/* Estilos para los títulos */
h1, h3 {
  font-family: 'Arial', sans-serif;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 20px;
}
